In [5]:
#Q.1 Create one variable containing following type of data:

In [7]:
#1.String

In [1]:
myname = 'Sahil Bimal'

In [2]:
myname

'Sahil Bimal'

In [3]:
#2. List

In [4]:
data = ['Sahil Bimal',1997,5.7,True]

In [5]:
data

['Sahil Bimal', 1997, 5.7, True]

In [6]:
#3. Float

In [7]:
decimal = 0.5, 1.9, 55.9

In [8]:
decimal

(0.5, 1.9, 55.9)

In [9]:
#4.Tuple

In [10]:
tuple = ('Sahil Bimal',1997,5.7,True)

In [11]:
tuple

('Sahil Bimal', 1997, 5.7, True)

In [12]:
#Q.2 Given are some following variables containing data

In [13]:
#1. var1 is Empty string

In [14]:
var1 = ' '

In [15]:
var1

' '

In [16]:
#2. var2 is a string because anything inside quotes is considered as a string.

In [17]:
var2 = '[DS,ML,Python]'

In [18]:
var2

'[DS,ML,Python]'

In [19]:
#3. var3 is a List because anything that is inside big brackets is considered as a list.

In [20]:
var3 = ['DS' , 'ML' , 'Python']

In [21]:
var3

['DS', 'ML', 'Python']

In [22]:
#4. var4 is a integer.

In [23]:
var4 = 1

In [24]:
var4

1

In [25]:
#Q.3 (i) It is used for division where quotient is returned.

In [26]:
example = 24/5

In [27]:
example

4.8

In [28]:
#(ii) It also performs division but it returns remainder and it is known as MOD opertor.

In [29]:
example2 = 24%5

In [30]:
example2

4

In [31]:
#(iii) It performs floor division by rounding the quotient to nearest whole number

In [32]:
example3 = 24//5

In [33]:
example3

4

In [34]:
#(iv) It is used for expotentiation

In [35]:
example4 = 5**5

In [36]:
example4

3125

In [48]:
#Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [38]:
mychoice = [10, 'Sahil','Nupur',5.7,5.2,True,3,'Mummy','Papa',10.3]

In [39]:
mychoice

[10, 'Sahil', 'Nupur', 5.7, 5.2, True, 3, 'Mummy', 'Papa', 10.3]

In [40]:
for i in mychoice :
    print(i)

10
Sahil
Nupur
5.7
5.2
True
3
Mummy
Papa
10.3

In [41]:
for i in mychoice :
    print(type(i))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [47]:
#Q.5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [9]:
a = 20
b = 5
while a % b == 0 :
    print(i)
else :
    print('A is not divisible by 3')

NameError: name 'i' is not defined

In [50]:
#Q.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [1]:
sample = [23, 56, 67, 78, 89, 96, 110, 123, 135, 345, 234, 678, 456, 485, 678, 765, 560, 978, 543, 765, 324, 576, 900, 876, 321]

In [2]:
sample

[23,
 56,
 67,
 78,
 89,
 96,
 110,
 123,
 135,
 345,
 234,
 678,
 456,
 485,
 678,
 765,
 560,
 978,
 543,
 765,
 324,
 576,
 900,
 876,
 321]

In [3]:
for num in sample:
    if num % 3 == 0:
        print(num,'is divisible by 3')
    else :
        print(num,'is not divisible by 3')

23 is not divisible by 3
56 is not divisible by 3
67 is not divisible by 3
78 is divisible by 3
89 is not divisible by 3
96 is divisible by 3
110 is not divisible by 3
123 is divisible by 3
135 is divisible by 3
345 is divisible by 3
234 is divisible by 3
678 is divisible by 3
456 is divisible by 3
485 is not divisible by 3
678 is divisible by 3
765 is divisible by 3
560 is not divisible by 3
978 is divisible by 3
543 is divisible by 3
765 is divisible by 3
324 is divisible by 3
576 is divisible by 3
900 is divisible by 3
876 is divisible by 3
321 is divisible by 3

In [4]:
#Q.7 What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [6]:
# Answer: The basic and main difference between mutable and immutable data types is that, mutable data can be modified and replaced once they are created but immutable data types cannot be modified or altered once they are created.

In [33]:
###End of Week 1 #####