In [1]:
'''How do you comment code in Python? What are the different types of comments?'''

In [23]:
# Ans. We comment code by putting a putting a hash symbol(#) in the beginning and anything written after the symbol is considered 
# as a comment in python.

# Broadly speaking, there are two different types of comments.

# 1. Single Line comments:

#             By putting (#) symbol in the beginning, we can transform the whole line into comment.

# 2. Multi Line Comments :

#             For multi line comments, we can enclose the block of text or comment with triple quotes , it is also called docstring.

In [7]:
'''What are variables in Python? How do you declare and assign values to variables?'''

In [19]:
# In python, variables are used to store values which can be used at some later stage during our calculations and manipulations
# with data.

# We can store data in the form of strings, complex numbers, integers, boolean values, lists, tuples, dictionary and many more.

In [48]:
# To declare and assign values in python:
my_name   = "sahil"
my_home   = "india"
my_number =  91400

In [49]:
my_name

'sahil'

In [50]:
my_home

'india'

In [51]:
my_number

91400

In [52]:
my_name + my_home

'sahilindia'

In [53]:
'''How do you convert one data type to another in Python?'''

In [54]:
# Answer: Conversion of one data type into other is known as Typecasting. It is a common operation used when we need to perform 
# different operations involving different data sets or types.
# Some common typecasting functions are :int(), str(), float()

In [55]:
# for changing string data type to integer data type.
num = '10'

In [56]:
type(num)

str

In [57]:
new_data = int(num)

In [58]:
new_data

10

In [60]:
type(new_data)

int

In [61]:
''' Q4. How do you write and execute a Python script from the command line? '''

In [69]:
# First we need to open a text editor and write our Python code and then save the file with a .py extension

# Open a command prompt & go to the directory where we have saved our Python script.

# Once we're in the correct directory, we can execute the Python script by running the python command followed by the name

# of our script file.

'''Note : Make sure that Python is installed on your system and properly configured in the environment variables'''

In [ ]:
'''Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3]'''

In [70]:
my_list = [1,2,3,4,5]

In [71]:
my_list

[1, 2, 3, 4, 5]

In [73]:
sub_list = my_list[1:3]

In [74]:
sub_list

[2, 3]

In [ ]:
'''Q6. What is a complex number in mathematics, and how is it represented in Python? '''

In [76]:
# In mathematics, complex number is a number which comprises of a real and an imaginary part, which is represented in the form of 
# a + bi, where a is the real part, b is the imaginary part and i is the imaginary unit defined as the square root of -1

# In python, to represent a complex number we use 'j' to indicate the imaginary part.

In [79]:
num = 5 + 3

In [80]:
type(num)

int

In [82]:
new_num = 5 + 3j

In [83]:
type(new_num)

complex

In [ ]:
'''Q7. What is the correct way to declare a variable named age and assign the value 25 to it? '''

In [84]:
age = 25

In [85]:
age

25

In [86]:
type(age)

int

In [ ]:
'''Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?'''

In [88]:
price = 9.99

In [89]:
type(price)

float

In [90]:
# This is a float data type.

In [ ]:
'''Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?'''

In [96]:
name = 'Sahil Bimal'

In [97]:
print(name)

Sahil Bimal

In [ ]:
'''Q10. Given the string "Hello, World!", extract the substring "World".'''

In [108]:
string = "Hello, World!"

In [110]:
string

'Hello, World!'

In [112]:
substring = string[6:12]

In [113]:
substring

' World'

In [ ]:
'''Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.'''

In [114]:
is_student = True

In [115]:
is_student

True

In [116]:
type(is_student)

bool

In [117]:
# End of Week 2 Assignment #